aside{
	float:right;
	background-color: #eaeaea;
	width:120px;
	padding:5px;
	margin-left: 10px;
	font-size:80%;
	-webkit-box-shadow:5px 5px 5px #828282;
	-moz-box-shadow:5px 5px 5px #828282;
	box-shadow: 5px 5px 5px #828282;
}
article header{
	background-color: #FFFFFF;
	background-image:none;
	padding:0;
	font-size:80%;
}
#content h1{
	color:#869dc7;
	font-family: Arial,sans-serif;
	font-size: 1.5em;
}
header,nav,footer,figure,figcaption,section,article,aside{
	display:block;






	
}